body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.language-selector-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.language-buttons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid with minimum width of 150px */
  gap: 20px; /* Increased gap for better spacing */
  justify-content: center;
  margin-bottom: 30px;
  width: 100%; /* Ensure the grid takes full width */
}

.language-button {
  background-color: #0d79ec; /* Darker blue */
  border: none;
  border-radius: 20px;
  padding: 20px; /* Increased padding for better spacing */
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px; /* Increased minimum width */
  width: 100%;
  height: 120px; /* Increased height for better proportion */
}

.language-button:hover {
  background-color: #003d80; /* Even darker blue */
}

.flag-icon {
  width: 48px; /* Increased width for better visibility */
  height: 36px; /* Increased height for better visibility */
  margin-bottom: 10px;
}

.language-name {
  font-size: 1rem;
  font-weight: bold;
  color: aliceblue;
}

.next-button {
  border-radius: 20px;
  padding: 10px 20px; /* Added padding for better button size */
  font-size: 1rem; /* Adjusted font size */
}

.next-button:hover {
  background-color: #003d80;
  border-radius: 30px;
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .language-buttons-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    gap: 15px; /* Adjusted gap for smaller screens */
  }

  .language-button {
    min-width: 120px; /* Adjusted minimum width for smaller screens */
    height: 100px; /* Adjusted height for smaller screens */
    padding: 15px; /* Adjusted padding for smaller screens */
  }

  .flag-icon {
    width: 32px; /* Adjusted width for smaller screens */
    height: 24px; /* Adjusted height for smaller screens */
  }

  .next-button {
    max-width: 100%; /* Full width on smaller screens */
    padding: 10px; /* Adjusted padding for smaller screens */
  }
}